/* Page Elements (least specific) */
body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button {
    font-family: 'Abril Fatface', cursive;
    font-size: 18px;
    margin-left: 10px;
    color: #720000;
    border: 2px solid #720000;
}
button:hover {
    font-family: 'Abril Fatface', cursive;
    font-size: 18px;
    margin-left: 10px;
    background-color: #720000;
    color: #e3e3e3;
    /* border: 2px solid #720000; */
}

/* Classes */
.bodyContainer {
    /* margin: 20px; */
    margin-right: 30px;
    margin-left: 30px;
}
.navbar {
    /* padding: 30px 30px 30px 60px; */
    padding-left: 30px;
    height: 120px;
    border-bottom: 2px solid #720000;
    background-color: lightgray;
}
.navlinks {
    margin-right: 17px;
}
.navlinks li {
    list-style-type: none;
    display: inline-block;
    height: 20px;
    vertical-align: bottom;
    margin-bottom: -13px;
    margin-right: 13px;
    /* margin-top: 7px; */
    /* padding-right: 20px; */
}
nav .navbar-nav a {
    color: black !important;
    cursor: pointer;
}

/* Middle Sections Classes */
.middle_section {
    margin-top: 20px;
    background-color: #720000;
}
/* .plot {
    display: inline-block;
    vertical-align: top;
} */
.plot h3 {
    color: #720000;
}
.plot img {
    border: 5px solid #720000;
    padding: 5px;
    background-color: #e3e3e3;
    max-width: 100%;
    height: auto;
    /* width: 300px;
    height: auto; */
}
.productOverview {
    background-color: #720000;
    padding-top: 40px;
    /* padding-right: 20px;
    padding-top: 20px; */

    /* display: inline-block;
    vertical-align: top; */
    /* width: 57.3%;
    margin-right: 20px;
    margin-left: -20px;
    margin-top: 50px;
    padding: 10px; */
    /* font-size: 40px; */
    text-align: center;
}
/* .productOverview li {
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 20px;
} */
.productOverview h5 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 23px;
    color: #e3e3e3;
    /* border: 2px solid red; */
}
/* .whiteBufferBorder {
    background-color: white;
    height: 20px
} */

/* Form Styling */
.form_container {
    border: 5px solid #720000;
    /* padding: 20px; */
    background-color: #e3e3e3;
    /* padding-top: 30px; */
    /* padding-left: 100px; */
}
.form_container h3 {
    color: #720000;
}
.reg_form {
    margin-top: 15px;
    margin-left: 50px;
}
.reg_form h3 {
    margin-left: 25px;
}
.login_form {
    margin-top: 15px;
    margin-left: 50px;
    /* margin-bottom: 30px; */
    /* padding-top:  */
}
.login_form h3 {
    margin-left: 25px;
}
input[type="email"] {
    border: 2px solid #720000;
}
input[type="password"] {
    border: 2px solid #720000;
}
#login_email {
    margin-bottom: 5px;
}
.instructions {
    width: 49%;
    /* border: 2px solid red; */
    display: inline-block;
    vertical-align: top;
}
.instructions h5 {
    margin-top: 40px;
    margin-bottom: 30px;
}
.instructions iframe {
    border: 5px solid #720000;
    padding: 10px;
    /* margin-top: 30px; */
    background-color: lightgrey;
    /* max-width: 100%;
    height: auto; */
    width: 560px;
    height: 315px;
}
.playsListContainer {
    width: auto;
    /* border: 2px solid blue; */
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.playsListContainer h3 {
    margin-left: 20px;
    color: #720000;
}
.playList {
    display: inline-block;
    vertical-align: top;
    /* margin-right: 20px; */
    /* margin-right: 0; */
    text-align: right
}
.footer {
    margin-top: 20px;
    text-align: center;
}

/* Bottom Section Styling */
.bottom_section {
    margin-top: 30px;
}

/* IDs (most specific) */
#navbarTitle {
    font-family: 'Abril Fatface', cursive;
    color: #720000;
    font-size: 30px;
    cursor: auto;
}
#plotText {
    font-size: 24px;
}
#availablePlaysTitle {
    padding-left: 18px;
}